/*خلفية عامة*/
body{
    font-family: Tahoma,Arial,Sans-serif;
    background-color: beige;
    margin: 0%;
    padding: 0%;
}

/* شريط علوي*/
.navbar{
    background-color: #b30000;
    padding: 12px;
    text-align: center;
}

.navbar a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover{
    text-decoration: underline;
}

/* نماذج التسجيل والخروج*/
form{
    width: 350px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form h2{
    text-align: center;
    color: #b30000;
}

form input,form select,form textarea,form button{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

form button{
    background-color: #b30000;
    color:#fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

form button:hover{
    background-color: #800000;
}

/*الجداول */
table{
    width: 9090%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

table th,table td{
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th{
    background-color: #b30000;
    color: #fff;
}

table tr:nth-child(even){
    background-color: #f9f9f9;
}

/*أزرار الأكشن*/
.action-btn{
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.edit-btn{background-color: #0066cc;}
.edit-btn:hover{background-color: #004d99;}

.delete-btn{background-color: #cc0000;}
.delete-btn:hover{background-color: #990000;}